html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.epg-configurator-container {
  width: 100%;
  height: 100%;
}

#wcEpigraphConfigurator {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
}

.category-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: sans-serif;
}

.custom-buttons-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background-color: rgb(197, 197, 197);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.preconfigured-scenes-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.generic-button {
  width: 100px;
  height: 100px;
  min-height: 100px;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.generic-button:hover {
  background-color: black;
  color: white;
}

epigraph-configurator:defined {
  opacity: 1 !important;
}

epigraph-configurator::part(circular-loader) {
  border: 8px solid #0000001a;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
